/* 
  Fonts
*/
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$heading: "Fleur De Leah", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$body: "Vollkorn", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;

/* 
  Colours
*/
$red: #c40000;
$black: #353535;
$shadow: #ffffff00;
$gold: #ffd700;
$gold-t: #ffd90080;
$green: #308834;
$dark-green: #1a4a1c;
$dark-green-t: #1a4a1c7e;
$white: #f5f5f5;

/* 
  Global
*/
* {
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  margin: 0;
  font-family: $body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: $green;
  background-image: linear-gradient(
    to right,
    $black,
    $dark-green 10%,
    $dark-green 90%,
    $black
  );
  color: $white;
}

#root {
  width: 95%;
  max-height: 100vh;
  border-radius: 0 0 15px 15px;
  margin: auto;
  background-color: $green;
}

/* 
  Header
*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  #header-info {
    margin-top: 16px;
  }

  h1 {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 0;
    font-family: $heading;
    font-size: 42px;
    text-shadow: 2px 2px $black;
    background-image: radial-gradient($dark-green-t, $green 70%);
  }

  h2,
  h3,
  h4 {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 0.6px;
  }

  h2 {
    margin-bottom: 0;
    line-height: 90%;
    color: $red;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    color: $gold;
  }

  h4 {
    margin-top: 0;
  }

  .suit-red {
    color: $red;
  }

  .suit-black {
    color: $black;
  }
}

/* 
  Hands
*/
#dealer-hand {
}

#player-hand,
#split-hand {
  display: inline-block;
  min-width: 47.5%;
  height: auto;
  padding: 10px 0 10px;
  border: 5px solid $gold-t;
  border-radius: 5px;
  margin: auto;

  .p-hand {
    position: relative;
    width: 60%;
    height: 211px;
    margin: auto;

    @for $i from 0 through 5 {
      .p-card-#{$i} {
        position: absolute;
        bottom: $i * 12px;
        left: $i * 14px;
        z-index: $i;
        width: 130px;
        height: 130px;
        background-image: url("https://deckofcardsapi.com/static/img/9D.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      .dd-#{$i} {
        transform: rotate(90deg);
        bottom: $i * 12px + 21px;
        left: $i * 14px + 18px;
      }
    }
  }
}

.hand {
  display: flex;
  position: relative;
  height: 170px;
  padding: 10px;
  border: 5px solid $gold-t;
  border-radius: 5px;
}

.cards,
.card-slots {
  display: flex;
  position: absolute;
}

.card,
.card-slot {
  display: flex;
  justify-content: center;
  width: 128.33px;
  height: 140px;
}

.card-slot-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  z-index: -100;
  border-radius: 5px;
  background-color: $dark-green-t;
  color: $dark-green;
  text-align: center;
  font-size: 20px;
}

.card img {
  width: 80%;
}

@media screen and (min-width: 800px) {
  #root {
    width: 80%;
    max-width: 800px;
  }

  h1 {
    font-size: 58px;
  }
}

#player-hud,
#split-hud {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    display: inline-block;
  }
}

.hand-value {
  display: inline-block;
  justify-self: flex-start;
  align-self: center;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px 7px;
  background-color: $black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.result {
  display: inline-block;
  justify-self: center;
  align-self: center;
  min-height: 42px;
  margin: 0 auto;
  font-family: $heading;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px $black;

  p {
    margin: 0;
  }
}

.bust {
  color: $red;
}

.chips {
  justify-self: flex-end;
}

#bank {
  padding: 15px 0;
  border-radius: 0 0 15px 15px;
  margin-top: 20px;
  background-color: $black;
  text-align: center;
  font-size: 42px;
}

.bet {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
}

.button-group,
.button-group-vertical {
  display: flex;
  justify-content: space-between;
  height: 42px;
}

.button-group-vertical {
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
  margin: 0 7px;

  .button {
    margin: 5px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.flex-row {
  display: flex;
}

.button {
  min-width: 80px;
  height: 42px;
  border: 2px solid $dark-green-t;
  border-radius: 5px;
  margin: auto;
  font-family: $body;
  font-size: 18px;
  color: $white;
  background-color: $shadow;
  transition: all 0.5s;
}

.button:disabled {
  color: $dark-green;
  background-color: $dark-green-t;
}

.button:hover:not(:disabled) {
  cursor: pointer;
  background-color: $dark-green;
}

.button-hud {
  margin-left: 8px;
}
